{{range .AccountsInformation}}
               {{if and (ge .MsgSendToday .Lowerboundary) (le .MsgSendToday .Upperboundary)}}
                        <tr> <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Name}}</b> </td>
                        
                        {{if eq $.Permission.DisplaySMSCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.MsgSendToday}}</b> </td>
                          
                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.MsgInMonth}}</b> </td>
                        {{end}}
                          
                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.ActiveUser}}</b> </td>

                        {{if eq $.Permission.DisplayEmailCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfEmailSentToday}}</b> </td>

                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfEmailSentInMonth}}</b> </td>
                        {{end}}

                        {{if eq $.Permission.DisplayCallCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfCallPreceededToday}}</b> </td>

                        <td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfCallPreceededInMonth}}</b> </td>
                        {{end}}

                        </tr>
                        {{else}}
                        <tr> <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.Name}}</b> </td>
                        
                        {{if eq $.Permission.DisplaySMSCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.MsgSendToday}}</b> </td>
                          
                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.MsgInMonth}}</b> </td>
                        {{end}}
                          
                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.ActiveUser}}</b> </td>

                        {{if eq $.Permission.DisplayEmailCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfEmailSentToday}}</b> </td>

                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfEmailSentInMonth}}</b> </td>
                        {{end}}

                        {{if eq $.Permission.DisplayCallCounter "true"}}
                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfCallPreceededToday}}</b> </td>

                        <td style='text-align:left;padding-left:20px;background-color:#d10000;border: 1px solid black;border-collapse: collapse'> <b>{{.NoOfCallPreceededInMonth}}</b> </td>
                        {{end}}
                        </tr>
                        
                    
               {{end}}
                       
{{end}}