<tr>

<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalString}}</b> </td>

{{if eq $.Permission.DisplaySMSCounter "true"}}
<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalMsgSendToday}}</b> </td>

<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalMsgInMonth}}</b> </td>
{{end}}

<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalActiveUser}}</b> </td>

{{if eq $.Permission.DisplayEmailCounter "true"}}
<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalEmailSentToday}}</b> </td>

<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalEmailSentInMonth}}</b> </td>
{{end}}

{{if eq $.Permission.DisplayCallCounter "true"}}
<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalCallProceededToday}}</b> </td>

<td style='text-align:left;padding-left:20px;background-color:#dae5f4;border: 1px solid black;border-collapse: collapse'> <b>{{.Total.TotalCallProceededInMonth}}</b> </td>
{{end}}


</tr>