{{ define "HTMLTemplate" }}
<html>
      <body>
             <table width="70%" style="border:1px solid black;border-collapse:collapse;background-color:#dae5f4"><tbody><tr style="text-align:center;height:30px"><td><h2>Daily Message Sent Report From MYBMS</h2></td></tr></tbody></table>
             <h2 style="margin:0;"></h2>
             
                  <table width="70%" style="border:1px solid black;border-collapse: collapse">

                        <tr>
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">Account</th>

                            {{if eq $.Permission.DisplaySMSCounter "true"}}
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">No. of Message Sent Today</th>
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">MTD</th>
                            {{end}}

                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">Active Users</th> 

                            {{if eq $.Permission.DisplayEmailCounter "true"}}
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">No. of Email Sent Today</th>
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">No. of Email Sent in Month</th>
                            {{end}}

                            {{if eq $.Permission.DisplayCallCounter "true"}}
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">No. of Call Proceeded Today</th>
                            <th style="border:1px solid black;border-collapse: collapse;background-color: black;color: white;text-align: center">No. of Call Proceeded in Month</th>
                            {{end}}

                        </tr>

                        {{template "body.html" .}}
                        {{template "footer.html" .}}
             </table>
      </body>
</html>                      
{{ end }}  